<div class="jumbotron">
<h1>Hello, Babes.</h1>
<p> I'm Viv. It's my job to help you get your sh*t together, and keep it that way.</p>
<%= link_to "Sign Me Up", "#", class: "btn btn-primary btn-lg" %>
</div>